/////////////////////////////////
///////PRODUCTEN MAIN INFO///////
/////////////////////////////////
.producten_info {
  background-color: $color-lighter-grey;
  margin-top: 4rem;
  overflow: hidden;
  padding: 0 2.5rem;

  @include respond(phone) {
    margin-top: 2rem;
  }

  .text {
    margin: 5rem auto;

    @include respond(phone) {
      margin-top: 2rem;
    }

    h1 {
      font-family: "Roboto Condensed";
      font-size: 4.5rem;
      color: $color-dark-grey;
      margin-bottom: 3rem;

      @include respond(phone) {
        margin-bottom: 1.5rem;
        font-size: 4.2rem;
      }
    }
    p {
      font-family: "Open Sans Light";
      font-size: 1.6rem;
    }
  }
}
